

/*
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
   border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    width: 100%;
    font-family:"dotum";
    font-size:12px;
}
ul.tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    width:82px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #eee;
    border-left: 1px solid #CAC9C9;
    border-right: 1px solid #CAC9C9;
    border-top: 1px solid #CAC9C9;
    font-weight: bold;
    background: #EEECEC;
    overflow: hidden;
    position: relative;
}
ul.tabs li.active {
    background: #FFFFFF;
}
.tab_container {
   border: 1px solid #eee;
    border-top: none;
    clear: both;
    float: left;
    background: #FFFFFF;
    position: absolute;
}

.tab_content {
    padding: 5px;
    font-size: 12px;
    display: none;
    position: absolute;
}
.tab_container .tab_content ul {
    width:100%;
    margin:0px;
    padding:0px;
}
.tab_container .tab_content ul li {
    padding:5px;
    list-style:none
}


#footer {
    position: absolute;
    left: 200px;
     font-family: '새굴림';
}
*/


ul.tabs {
    margin-left: 0px;
    /* margin: 0;  */
    padding: 0;
    float: left;
    list-style: none;
    height: 30px;
    border-bottom: 1px solid #94D9FB;
    /* border-left: 1px solid #CAC9C9;  */
    width: 100%;
    font-family: 'Nanum Gothic';
    font-size:13px;
}
ul.tabs li {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-left: 7px;
    float: left;
    text-align:center;
    cursor: pointer;
    width:110px;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #009DEB;
    border-left: 1px solid #009DEB;
    border-right: 1px solid #009DEB;
    /* border-bottom: 1px solid #009DEB;  */
    background: #38B7F5;
    overflow: hidden;
    position: relative;
    font-family: 'Nanum Gothic';
    font-weight: normal;
}

ul.tabs li:hover {
    background: rgb( 91, 197, 247 );
}

ul.tabs li.active {
    background: white;
    border-bottom: 1px solid white;
}
.tab_container {
    /* border: 1px solid #CAC9C9;  */
    border-top: none;
    clear: both;
    float: left;
  /*  width: 248px;  */
    background: white;
    position: absolute;
}
.tab_content {
    /* padding: 5px; */
    /* font-size: 12px; */
    display: none;
    position: absolute;
    /* line-height: 1.3em;  */

    overflow-y:scroll;
    line-height: 1.7em;
    font-size:14px ;
    clear: both;
    font-family: 'Nanum Gothic';
}

.tab_container .tab_content ul {
    width:100%;
    margin:0px;
    padding:0px;
}
.tab_container .tab_content ul li {
    padding:5px;
    list-style:none
}


/*
#footer {
    position: absolute;
    left: 200px;
    background: white;
    font-family: '새굴림';
}
*/